<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<!-- 	navbar start -->
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="navbar">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">[[${session.loginUser}]]</a> 
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#" th:href="@{/admin/logout}">Sign out</a></li>
		</ul>
	</nav>
<!-- 	navbar end	 -->

<!-- 	sidebar start -->	
	<nav th:fragment="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a th:href="@{/admin/blogs}" th:class="${active=='blogs.html' ? 'nav-link active' : 'nav-link'}">
              <span data-feather="home"></span>
              	Blog
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/admin/types}" th:class="${active=='type.html' ? 'nav-link active' : 'nav-link'}">
              <span data-feather="file"></span>
              	分類管理
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/admin/job}" th:class="${active=='job.html' ? 'nav-link active' : 'nav-link'}">
              <span data-feather="shopping-cart"></span>
              	排程
            </a>
          </li>
          <li class="nav-item">
          	<a th:href="@{/admin/tags/search}" th:class="${active=='tags.html' ? 'nav-link active' : 'nav-link'}">
          	<span data-feather="users"></span>
              	標籤管理
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
          <li class="nav-item">
          	<a th:href="@{/admin/upload}" th:class="${active=='upload.html' ? 'nav-link active' : 'nav-link'}">
          	<span data-feather="file"></span>
              	文件上傳範例
            </a>
          </li>
          <li class="nav-item">
          	<a th:href="@{/admin/testInterceptor}" th:class="${active=='testInterceptor.html' ? 'nav-link active' : 'nav-link'}">
          	<span data-feather="bar-chart-2"></span>
              	多攔截器範例
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
<!-- 	sidebar end -->

<!-- 	script start -->
<th:block th:fragment="script">
	<!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	
	<style>
		.error {
		  color: #F00;
		  background-color: #FFF;
		}
		
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
		}
		
		@media ( min-width : 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<!-- Custom styles for this template -->
	<link th:href="@{/css/dashboard.css}" rel="stylesheet">

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.validate.js}"></script>
	<script th:src="@{/js/utility.js}"></script>
	<script th:src="@{/js/jquery.filedsToJson.js}"></script>
	<script th:src="@{/js/messages_zh_TW.js}"></script>
	
	<!-- Icons -->
	<script th:src="@{/js/feather.min.js}"></script>
	<script>
      feather.replace()
    </script>
</th:block>
<!-- 	script end -->

<!-- 	alert message start -->
<th:block th:fragment="message">
	<div th:unless="${#strings.isEmpty(message)}" class="alert alert-primary alert-dismissible fade show" role="alert">
		[[${message}]]
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</th:block>
<!-- 	alert message end -->
</html>