<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<title>blogs</title>
</head>
<body>
	<nav th:replace="~{admin/_layout :: navbar}">..</nav>
	<div class="container-fluid">
		<div class="row">
			<nav th:replace="~{admin/_layout :: sidebar(active='blogs.html')}"></nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			<h2>Blog管理</h2>
			<a href="#" th:href="@{/admin/blogs/input}" class="btn btn-outline-dark">新增</a>
			<th:block th:replace="admin/_layout :: message"></th:block>
			<form id="query-form">
				<div class="form-row align-items-center">
					<div class="col-auto my-1">
						<input type="text" class="form-control" id="title" placeholder="標題">
					</div>
					<div class="col-auto my-1">
						<label class="mr-sm-2 sr-only" for="typeId">分類</label> 
					    <select class="custom-select mr-sm-2" id="typeId">
					        <option value="">分類..</option>
					        <option th:each="type : ${types}"
					                th:value="${type.id}"
									th:text="${type.name}">
					        </option>
					    </select>
					</div>
<!-- 					<div class="col-auto my-1"> -->
<!-- 						<div class="custom-control custom-checkbox mr-sm-2"> -->
<!-- 							<input type="checkbox" class="custom-control-input" id="recommend"> -->
<!-- 							<label class="custom-control-label" for="recommend">推薦</label> -->
<!-- 						</div> -->
<!-- 					</div> -->
					<div class="col-auto my-1">
						<button type="button" id="search-btn" class="btn btn-primary">查詢</button>
						<input type="hidden" name="page" >
					</div>
				</div>
			</form>
			<div class="table-responsive">
			<!-- use th:fragment to search query by ajax -->
				<table th:fragment="blogList" class="table table-striped table-sm">
					<thead>
						<tr>
							<th></th>
							<th>標題</th>
							<th>類型</th>
							<th>推薦</th>
							<th>狀態</th>
							<th>更新時間</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="blog,iterStat : ${blogs}">
							<!-- <td th:text="${iterStat.count}">count</td> -->
							<td th:text="${blog.id}">count</td>
							<td th:text="${blog.title}">title</td>
							<td th:text="${blog.type.name}">typeName</td>
							<td th:text="${blog.recommend} ? '是':'否'">是</td>
							<td th:text="${blog.published} ? '發佈':'草稿'">草稿</td>
							<td th:text="${blog.updateTime}">2020-06-03 09:45</td>
							<td>
								<a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="btn btn-outline-dark">編輯</a> 
								<a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="btn btn-outline-dark">刪除</a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>
								<ul class="pagination" th:if="${blogs.totalPages}>1">
<!-- 									<li class="page-item"><a th:href="@{/admin/blogs/search(page=${blogs.number}-1)}" class="page-link" th:unless="${blogs.first}">上一頁</a></li> -->
<!-- 									<li class="page-item"><a th:href="@{/admin/blogs/search(page=${blogs.number}+1)}" class="page-link" th:unless="${blogs.last}">下一頁</a></li> -->
									<li class="page-item"><a onclick="page(this)" th:attr="data-page=${blogs.number}-1" class="page-link" th:unless="${blogs.first}">上一頁</a></li>
									<li class="page-item"><a onclick="page(this)" th:attr="data-page=${blogs.number}+1" class="page-link" th:unless="${blogs.last}">下一頁</a></li>
								</ul>
							</th>
						</tr>
					</tfoot>
				</table>
			</div>
			</main>
		</div>
	</div>
	<th:block th:replace="admin/_layout :: script"></th:block>

	<script type="text/javascript">
			function page(obj) {
			
				// 取得$(obj).data("page")對應 -> data-page
				// 上面的th:attr="data-page=${blogs.number}-1"

		      $("[name='page']").val($(obj).data("page"));
		      loaddata();
		    }
	
		    $("#search-btn").click(function () {
		      $("[name='page']").val(0);
		      loaddata();
		    });
		    
		    function loaddata() {
		      $(".table-responsive").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
// 				$(".table-responsive").load("/admin/blogs/search",{
			        title : $("#title").val(),
			        typeId : $("#typeId").val(),
			        recommend : $("#recommend").prop('checked'),
			        page : $("[name='page']").val()
			     });
		    }
			
	</script>

</body>
</html>