<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<title>blogs-input</title>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"> -->
</head>
<body>

	<nav th:replace="~{admin/_layout :: navbar}">..</nav>
	<div class="container-fluid">
		<div class="row">
			<nav th:replace="~{admin/_layout :: sidebar(active='blogs.html')}"></nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

			<form id="addBlogWin" th:action="@{/admin/blogs/}" method="post" th:object="${blog}">
				<div class="form-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">標題</span>
					</div>
					<input type="text" class="form-control required" th:field="*{title}" />
				</div>

				<div class="form-group">
					<label class="mr-sm-2 sr-only" for="typeId">分類</label>
					<!-- 						<select class="custom-select mr-sm-2" id="type"> -->
					<!-- 							<option value="">分類..</option> -->
					<!-- 							<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option> -->
					<!-- 						</select> -->
					<select class="custom-select mr-sm-2 required" th:field="*{type}" id="type">
						<option value="">分類..</option>
						<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
					</select>
				</div>
				 
<!-- 				th:field="*{published}" -->
<!-- 				<div class="form-group"> -->
<!-- 					<select class="custom-select mr-sm-2" th:field="*{published}"> -->
<!-- 						<option value="">狀態</option> -->
<!-- 						<option value="0">草稿</option> -->
<!-- 						<option value="1">發佈</option> -->
<!-- 					</select> -->
<!-- 				</div> -->
				<div class="form-group">
					<div class="custom-control custom-checkbox mr-sm-2">
						<input type="checkbox" class="custom-control-input" th:field="*{recommend}" id="recommend"> <label class="custom-control-label" for="recommend">推薦</label>
					</div>
					<div class="custom-control custom-checkbox mr-sm-2">
						<input type="checkbox" class="custom-control-input" id="published" name="published" th:field="*{published}" > <label class="custom-control-label" for="published">發佈</label>
					</div>
				</div>
				<div class="form-group">
					<div class="dropdown-mul-1">
						<select style="display: none" id="tags" name="tags" multiple placeholder="Select">
						</select>
					</div>
				</div>
				<div class="form-group">
					<div id="summernote"></div>
				</div>

				<div class="form-group">
					<a href="#" onclick="save()" class="btn btn-outline-dark">儲存</a> 
					<input type="hidden" th:field="*{content}" />
					<input type="hidden" th:field="*{id}" />
					<a href="#" th:href="@{/admin/blogs}" class="btn btn-outline-dark">返回</a>
				</div>
			</form>
			</main>
		</div>
	</div>

	<th:block th:replace="admin/_layout :: script"></th:block>
</body>
<!-- <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script> -->
<!-- add plugins summernote-Bootstrap 4 editor -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

<!-- Searchable Multi-select Dropdown Plugin With jQuery - Dropdown.js -->
<link th:href="@{/css/jquery.dropdown.css}" rel="stylesheet">
<script th:src="@{/js/jquery.dropdown.js}"></script>
<script th:inline="javascript">

	getTags();
	
	function getTags() {
		$.ajax({
			url : "/admin/tags",
			dataType : "json",
			type : "GET",
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				alert('伺服器連結錯誤');
			},
			success : function(data, textStatus) {

				var d1 = $('.dropdown-mul-1').dropdown({
					data : data,
					limitCount : 40,
					multipleMode : 'label',
					input: '<input type="text" maxLength="20" placeholder="標籤..">',
					choice : function() {
						console.log(arguments, this);
					}
				});

				//trigger 回填 tags to select box 
					/*<![CDATA[*/
					
						 /*[# th:each="tag : ${blog.tags}"]*/
        					var tagId = /*[[${tag.id}]]*/ 'default';
        					$(".dropdown-option").each(function(){

            					// check attribute data-value
	        					if($(this).data("value") == tagId){
	        						$(this).trigger( "click" );
	            				}
        					})
    					/*[/]*/
    					
					/*]]>*/
				   
				// 回填文章內容
				var content = $("#content").val();
				$('#summernote').summernote('code', content);
			}
		});
	}

	// 	summernote-Bootstrap 4 editor example	
	function save() {
		var content = $('#summernote').summernote('code');
		$("#content").val(content);
		$("#addBlogWin").validate({onfocusout:false});
		$("#addBlogWin").submit();
	}

	$('#summernote').summernote({
		placeholder : 'temp',
		tabsize : 2,
		//         callbacks: {
		//             onChange: function(contents, $editable) {
		//               $("#lawsContent").val($("#summernote").summernote('code'));
		//             }
		//           },
		height : 300,
	});
</script>
</html>